* , *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
}

body{
  background: white url('../images/kytalpa-sewing-bckgrnd.jpeg') repeat;
  font-family: Georgia, serif;
  text-align: left;
  min-height: 240px;
  min-width: 320px;
}

/* Variables */

$nav-color: #543e9d;
$highlight-color: #47D667;
$link-color: #ccc;


/* General Styles */
a {
  color: $link-color;
  text-decoration: none;
}
.center {
  text-align: center;
}
/*ul li a {
  display:block;
}*/
ul.unstyled li {
  list-style-type: none;
}
ul.horizontal li {
  display: inline-block;
  margin-right: 0.25em;
}
ul.horizontal li:last-child {
  border-right: none;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
  text-align: right;
}
.menu-container {
  position: absolute;
  top: 38px;
  right: 0;
}
.menu-container a {
  color: $link-color;
  text-decoration: none;
}
.container {
  position: relative;
  top: 85px;
}
.display {
  /*text-align: center;*/
  background-color: rgba(250, 250, 250, .95);
  max-width: 450px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}
.column1 {
  float: left;
  width: 50%;
}
.column2 {
  float: right;
  width: 50%;
}
.space {
  margin-left: 3px;
}

/* Header & Footer Styles */
header, footer {
  width: 100%; /* Needed to anchor to top/bottom of page */
  float: left; /* Needed to anchor to top/bottom of page */
  background-color: $nav-color;
  background: $nav-color;
  box-shadow:  0px 2px 2px #888, 0px -2px 2px #888;
  z-index: 999999;
  position: fixed;
}
header {
  top: 0;
  height: 75px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 2px dashed #fff;
  box-shadow: 0 0 0 10px $nav-color, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  
}
footer {
  bottom: 0;
  height: 50px;
  padding-top: 20px;
  margin-top: 10px;
  border-top: 2px dashed #fff;
  box-shadow: 0 0 0 10px $nav-color, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #333;
}

/* Header Only Styles */
h1#title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 36px;
  color: #fff;
  padding: 15px 5px;
  margin: 0;
  text-shadow: -1px -1px #000;
}
ul.menu li {
  color: $link-color;
  border-right: 2px solid #888;
  margin-right: 0;
  font-weight: bold;
}

/* Footer Only Styles */
footer {
  padding-bottom: .25em;
}
ul.footer-links, ul.footer-links a {
  padding-left: 5px;
  padding-top: .25em;
  color: white;
  font-size: 12px;
}
ul.image-credit, ul.image-credit a {
  color: #999;
}
/*footer ul li {
  border-right: 2px solid #888;
}
footer ul li:last-child {
  border-right: none;
}*/

/* Lightbox */
.background{
  background-color: rgba(102, 102, 102, .8);
  position: fixed;
  z-index: 1;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;                
}
.box {
  text-align: center;
  background-color:white;
  position: fixed;
  width: 475px;
  height: 300px;
  margin: auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: 5px;
  border: 2px black dashed;
  box-shadow: 0 0 0 10px #fff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}
.text {
  padding-top: 10%;
  padding-bottom: 10%;
}
h3, p {
  margin-bottom: 1em;
}
a#facebook {
    text-align: right;
}
a#facebook > img {
  margin-top: 1em;
}

/* Modal Styles */
@import 'modal';

/* Account Styles */
ul.menu {
  display: block;
  margin-bottom: 5px;
}
li.option{
  padding: 0px 5px;
}

/* Profile */
.profileImage {
  text-align: center;
}
.title {
  margin-right: 10px;
}

/* Media Queries */
