extends layout

block content

	div.container
		ul.menu.unstyled.horizontal
			a(href='/profile/')
				li.option
					h2 Profile

			a(href='/measurements')
				li.option
					h2 Measurements	

			a(href='/projects')
				li.option
					h2 Projects	

			a(href='/patterns')
				li.option
					h2 Patterns	

			a(href='/fabrics')
				li.option
					h2 Fabrics	

			a(href='/library')
				li.option
					h2 Library