extends layout

block content

	div.background
		div.box
			div.text-box
				div.text
					h3 WELCOME!
					p Sew Organized is a free site for sewing enthusiasts.
					p Please login or sign up with Facebook.
					a#facebook(href="/auth/facebook")
						img(src="/images/fb_active_404.png", alt="Log in with Facebook")