doctype 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Sew Organized: online sewing supplies inventory web application')
		meta(name='keywords', content='sew, organized, organization, sewing, supplies, inventory, patterns, sewing patterns')
		meta(name='author', content='Debra Zapata')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		title Sew Organized

	body
		header
			.contain#header
				h1#title Sew Organized
				
				div#cssmenu
					ul.menu.unstyled.horizontal
						//- li.profile
						//- 	img(src="https://graph.facebook.com/"+ user.username +"/picture?width=200&height=200")
						li.last
							a(href='/about') About
						li.has-sub 
							a(href='#') Collections
							ul.sub-menu
								li.hide
									a(href='/projects')	Projects

								li.hide
									a(href='/patterns') Patterns

								li.hide
									a(href='/fabrics') Fabrics

								li.hide
									a(href='/measurements') Measurements
								
								li.hide.last
									a(href='/library') Library
						li
							a(href='/profile') Profile
						li.active
							a(href='/') Home
						li.mobile
							a(href='#') Menu &#9776;

		block content

		footer
			ul.copyright
				li Copyright &copy;2014 Debra Zapata / All rights reserved
		//- Image Credits
		//- ©Can Stock Photo / kytalpa
		

		script(language="javascript", src="http://code.jquery.com/jquery-1.10.2.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
		script(src="/javascripts/bootstrap.min.js")
		script(language="javascript", src="/javascripts/main.js")
		script(src="/javascripts/profile.js")				