doctype 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Sew Organized: online sewing supplies inventory web application')
		meta(name='keywords', content='sew, organized, organization, sewing, supplies, inventory, patterns, sewing patterns')
		meta(name='author', content='Debra Zapata')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		title Sew Organized

	body
		header
			.contain
				h1#title Sew Organized
			
				div.menu-container
					ul.menu.unstyled.horizontal
						li.option
							a(href='/profile/') Profile

						li.option
							a(href='/measurements')	Measurements

						li.option
							a(href='/projects')	Projects

						li.option	
							a(href='/patterns') Patterns

						li.option
							a(href='/fabrics') Fabrics
						
						li.option
							a(href='/library') Library

		block content

		footer
			ul.horizontal.footer-links.float-left
				li 
					a(href="/") Home
				li 
					a(href="/about") About
				li 
					a(href="/contact") Contact
				li 
					a(href="/privacy") Privacy
				li.space &copy;2014 Sew Organized
			ul.horizontal.footer-links.image-credit.float-right
				li Image Credits: 
					<!-- HTML Credit Code for Can Stock Photo-->
					a(href="http://www.canstockphoto.com") &copy; Can Stock Photo / kytalpa
		

		script(language="javascript", src="http://code.jquery.com/jquery-1.10.2.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
		script(src="/javascripts/bootstrap.min.js")
		script(language="javascript", src="/javascripts/main.js")
		script(src="/javascripts/profile.js")				