extends layout

block content

	<!-- Example row of columns -->

	div.row
		div.options.container
			div.display.col-lg-4
				h2 Profile
				a(href='/profile')
					img(src='/images/profile.jpg')
				
			div.display.col-lg-4
				h2 	Patterns
				a(href='/patterns')
					img(src='/images/patterns.jpg')
			
			div.display.col-lg-4
				h2 Stash
				a(href='/stash')
					img(src='/images/stash.jpg')
				