extends layout

block content

	<!-- Example row of columns -->

	div.row
		div.options.container
			div.option.display.col-lg-4
				h2 Profile
				a(href='/profile/unicorn')
					img(src='/images/profile.jpg')
				
			div.option.display.col-lg-4
				h2 Patterns
				a(href='/patterns')
					img(src='/images/patterns.jpg')
			
			div.option.display.col-lg-4
				h2 Fabrics
				a(href='/fabrics')
					img(src='/images/fabrics.jpg')
				