extends layout

block content

	<!-- Example row of columns -->

	div.row
		div.container
			div.addPattern.display.col-md-4
				a
					img.addPatternImg(src='/images/greypattern.jpg') 
					p.addPattern Add a Pattern
			div.display.col-md-4
			div.display.col-md-4

