extends layout

block content

	<!-- Example row of columns -->

	div.row
		div.patterns
			div.addPattern.display
				a.addPatternLink
					<!-- Button trigger modal -->
					button.addPatternButton.btn.btn-primary(data-toggle="modal" data-target="#myModal") Add a Pattern

			//- div.allPatterns.display
			//- 	for pattern in patterns
			//- 		div.pattern
			//- 			img.pattern-image(src='#{pattern.imageurl}')
			//- 			div.pattern-info
			//- 				ul.list-unstyled
			//- 					li Company: #{pattern.company}
			//- 					li Pattern Name: pattern.name 
			//- 					li Pattern ID: pattern.id
			//- 					li Size: pattern.size
			div.patternForm
				<!-- Modal -->
				div.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
					div.modal-dialog
						div.modal-content
							div.modal-header
								button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
								h4.modal-title#myModalLabel Pattern Information
							div.modal-body
								form.newPattern
									div.form-field-group
										label.input-label Company: 
											input.form-field.company(type="text" name="company")
									div.form-field-group
										label.input-label Description: 
											input.form-field.desc(type="text" name="desc")
									div.form-field-group
										label.input-label Id: 
											input.form-field.id(type="text" name="id")
									div.form-field-group
										label.input-label Size: 
											input.form-field.size(type="text" name="size")
									div.form-field-group
										label.input-label URL: 
											input.form-field.url(type="text" name="url")
									div.form-field-group
										label.input-label ImageURL: 
											input.form-field.imageurl(type="text" name="imageurl")
							div.modal-footer
								button.closeButton(type="button" class="btn btn-default" data-dismiss="modal") Close
								button.deleteButton(type="button" class="btn btn-primary") Delete pattern
								button.submitButton(type="button" class="btn btn-primary") Save changes
			div.allPatterns.display
				include patternstemplate.html

	script(src="/javascripts/patterns.js")