extends layout

block content

	<!-- Example row of columns -->

	div.row
		div.container
			div.display.col-lg-4
				div.username
					h2 Unicorn
				div.profileImage
					img(src='/images/unicorn.jpg')
			div.display.col-lg-4
				div.name
					h3 Jane Smith
				div.city
					h4 
						span.title City 
						| Boulder
				div.state
					h4 
						span.title State 
						| CO
				div.zipcode
					h4 
						span.title Zip Code 
						|80302
					
			div.display.col-lg-4
