<script id="profile-results-template" type="text/x-handlebars-template">
        

	<div class="profile-info" data-userid=_id.toString() data-toggle="modal" data-target="#myModal">
		<div class="name">
			<h2>
				<span id="fname" class="editable-text">{{fname}}</span>
				<span id="lname" class="editable-text">{{lname}}</span>
			</h2>
		</div>
		<div class="city">
			<h4> 
				<span class="title">City </span>
				<span id="city" class="editable-text">{{city}}</span>
			</h4>
		</div>
		<div class="state">
			<h4> 
				<span class="title"> State </span>
				<span id="state" class="editable-text">{{state}}</span>
			</h4>
		</div>
		<div class="zipcode">
			<h4> 
				<span class="title"> Zip Code </span>
				<span id="state" class="editable-text">{{zipcode}}</span>
			</h4>
		</div>
	</div>


</script>

