extends layout

block content

	<!-- Example row of columns -->

	div.row
		div.container
			div.display.col-lg-4
				h2 Profile
				img(src='/images/profile.jpg')
				p
					a.btn.btn-primary(href="#" role="button") View details &raquo;
			div.display.col-lg-4
				h2 	Patterns
				img(src='/images/patterns.jpg')
				p
					a.btn.btn-primary(href="#" role="button") View details &raquo;

			div.display.col-lg-4
				h2 Stash
				img(src='/images/stash.jpg')
				p
					a.btn.btn-primary(href="#" role="button") View details &raquo;
