*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px; }

@font-face {
  font-family: 'Quicksand Dash-Regular';
  src: local("Quicksand Dash-Regular"), url("quicksand.dash-regular.otf") format("opentype"); }

body {
  background: white url("../images/kytalpa-sewing-bckgrnd.jpeg") repeat;
  font-family: 'Quicksand Dash-Regular', Helvetica, sans-serif;
  text-align: center;
  min-height: 240px;
  min-width: 320px; }

/* Variables */
/* General Styles */
a {
  color: #47D667;
  text-decoration: none;
  font-size: 10px; }

ul.horizontal li {
  display: inline-block;
  margin-right: 1em; }

/* Header & Footer Styles */
header, footer {
  width: 100%;
  /* Needed to anchor to top/bottom of page */
  float: left;
  /* Needed to anchor to top/bottom of page */
  background-color: #510fad;
  /* box-shadow:  0px 2px 2px #888, 0px -2px 2px #888;*/
  z-index: 999999;
  position: fixed; }

header {
  top: 0; }

header:after {
  content: " ";
  display: block;
  position: relative;
  bottom: -15px;
  height: 15px;
  background: linear-gradient(-45deg, transparent 75%, #510fad 75%) 0 50%, linear-gradient(45deg, transparent 75%, #510fad 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 15px 15px, 15px 15px; }

header > .wrap {
  border-bottom: 1px white dashed; }

footer {
  bottom: 0; }

footer:before {
  content: " ";
  display: block;
  position: relative;
  top: -15px;
  height: 15px;
  background: linear-gradient(45deg, #510fad 25%, transparent 25%) 0 50%, linear-gradient(-45deg, #510fad 25%, transparent 25%) 0 50%;
  background-repeat: repeat-x;
  background-size: 15px 15px, 15px 15px; }

footer > .wrap {
  border-top: 1px white dashed; }

.wrap {
  position: relative;
  margin: 0 auto;
  width: 100%; }

/* Header Only Styles */
h1#title {
  font-size: 50px;
  color: white;
  padding: 15px 5px; }

/* Lightbox */
.background {
  background-color: rgba(102, 102, 102, 0.8);
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto; }

.box {
  background-color: white;
  position: fixed;
  width: 80%;
  height: 60%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px; }

.text-box {
  position: absolute;
  top: inherit;
  bottom: inherit;
  margin: 1em;
  padding: 1em;
  border: 1px black dashed;
  border-radius: 10px;
  -moz-border-radius: 10px; }

.text {
  display: table-cell;
  vertical-align: middle; }

h3, p {
  margin-bottom: 1em; }

/* Footer Only Styles */
footer {
  padding-bottom: .25em; }

ul.footer-links {
  color: white;
  font-size: 12px; }

ul.image-credit, ul.image-credit a {
  color: grey;
  font-size: 0.625px;
  text-decoration: none; }
