* , *:before, *:after{
  box-sizing: border-box;
}
@font-face {
  font-family: 'Quicksand Dash-Regular'; 
  src: local('Quicksand Dash-Regular'), url('quicksand.dash-regular.otf') format('opentype');
}

/* TITLE */
h1{
  font-family: 'Quicksand Dash-Regular', Helvetica, sans-serif;
  font-style: normal;
  font-size: 36px;
}
/* NAVIGATION */
