body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 100px;
  padding-bottom: 10px;
  color: #5a5a5a;
}

img {
  border-radius: 4px;
  width: 115px;
  height: 100px;
  margin-bottom: 5px;
}
img:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 15px rgba(51,0,102,0.9);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 15px rgba(51,0,102,0.9);
}
.display {
  text-align: left;
}
.title {
  font-size: 16px;
  font-weight: bolder;
}
h4 {
  font-size: 14px;
}
img.addPatternImg {
  width: 50%;
  height: 50%;
}
div.addPattern {
  text-align: left;
  display: inline-block;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */
footer > p {
  padding: 10px;
  bottom:0;
}

/* CUSTOMIZE THE ROW
-------------------------------------------------- */
.row {
  padding-left: 50px;
  padding-right: 50px;
  height: 520px;
}
.container {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.display{
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;

}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }
  .navbar-nav {
    float:right;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  .display {
    margin-top: 50px;
  }
  img {
    width: 130px;
    height: 115px;
    margin-bottom: 5px;
  }
}

@media (max-width: 580px){
  .display {
    display:block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .display > h2 {
    font-size: 24px;
  }
  .display > img {
    width: 75px;
    height: 65px;
  }
}
div.patterns {
  display: inline-block;
}
div.addPatterns{
  display: inline-block;
}
div.patternForm {
  display: inline-block;
  overflow: hidden;
}
div.addPattern {
  position: relative;
}
.form-field-group {
  text-align: right;
}
.inputSubmit {
  text-align: center;
}
.form-field-label {
  display: inline-block;
  line-height: 30px;
  min-width: 160px;
  padding-right: 25px;
  box-sizing: border-box;
}
.form-field {
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
  margin: 3px 25px 3px 3px;
  box-sizing: border-box;
}
.option {
  text-align: center;
}
a {
  color: white;
}